name: Mac_iPad_TigerVNC_Final_Fix
on: workflow_dispatch
jobs:
  run-mac:
    runs-on: macos-latest
    steps:
      - name: 1. Setup Utente ipad
        run: |
          sudo dscl . -create /Users/ipad
          sudo dscl . -create /Users/ipad UserShell /bin/bash
          sudo dscl . -create /Users/ipad UniqueID "502"
          sudo dscl . -create /Users/ipad PrimaryGroupID 20
          sudo dscl . -create /Users/ipad NFSHomeDirectory /Users/ipad
          sudo dscl . -passwd /Users/ipad 1234
          sudo dscl . -append /Groups/admin GroupMembership ipad

      - name: 2. Installazione e Avvio TigerVNC
        run: |
          # Installazione TigerVNC
          brew install tiger-vnc
          
          # Carichiamo Homebrew nel PATH (fondamentale per Sequoia)
          eval "$(/opt/homebrew/bin/brew shellenv)"
          
          # Configurazione password VNC (123456)
          mkdir -p ~/.vnc
          printf "123456\n123456\nn\n" | vncpasswd
          
          # Avvio del server forzando la porta 5900
          vncserver :1 -rfbport 5900 -localhost no -geometry 1280x800
          
      - name: 3. Avvio Tunnel Bore
        run: |
          curl -L https://github.com/ekzhang/bore/releases/download/v0.5.1/bore-v0.5.1-x86_64-apple-darwin.tar.gz | tar -xz
          ./bore local 5900 --to bore.pub
