name: Mac_iPad
on: workflow_dispatch
jobs:
  run-mac:
    runs-on: macos-12
    steps:
      - name: Start
        run: |
          brew install --cask ngrok
          ngrok config add-authtoken ${{ secrets.NGROK_AUTH_TOKEN }}
          sudo dscl . -passwd /Users/runner "Password123!"
          sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -activate -configure -access -on -restart -agent -privs -all
          ngrok tcp 5900
