name: Mac_iPad_No_Black_Screen
on: workflow_dispatch
jobs:
  run-mac:
    runs-on: macos-latest
    steps:
      - name: 1. Setup Sistema e Forza Grafica
        run: |
          # Crea utente ipad
          sudo dscl . -create /Users/ipad
          sudo dscl . -passwd /Users/ipad 1234
          sudo dscl . -append /Groups/admin GroupMembership ipad
          
          # Forza l'attivazione della scrivania grafica
          sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -activate -configure -access -on -restart -agent -privs -all -allowAccessFor -allUsers
          
          # Comando per svegliare l'interfaccia grafica
          sudo launchctl kickstart -kp system/com.apple.WindowServer
      
      - name: 2. Avvio Tunnel Bore
        run: |
          brew install bore-cli
          bore local 5900 --to bore.pub
