name: Mac_iPad_Senza_Account
on: workflow_dispatch
jobs:
  run-mac:
    runs-on: macos-latest
    steps:
      - name: 1. Setup Utente e Forza Video
        run: |
          # Crea utente 'ipad' con password '1234'
          sudo dscl . -create /Users/ipad
          sudo dscl . -passwd /Users/ipad 1234
          sudo dscl . -append /Groups/admin GroupMembership ipad
          
          # Forza la risoluzione per evitare lo schermo nero
          sudo defaults write /Library/Preferences/com.apple.windowserver.plist DisplayResolutionEnabled -bool true
          
          # Attiva il Desktop Remoto
          sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -activate -configure -access -on -restart -agent -privs -all -allowAccessFor -allUsers
          
      - name: 2. Avvio Tunnel Gratuito (Cloudflare)
        run: |
          brew install cloudflared
          # Crea un tunnel pubblico immediato sulla porta VNC 5900
          cloudflared tunnel --url tcp://localhost:5900
