name: Mac_iPad_Nativo_Definitivo
on: workflow_dispatch
jobs:
  run-mac:
    runs-on: macos-latest
    steps:
      - name: 1. Setup Utente ipad e Password VNC
        run: |
          # Crea utente ipad
          sudo dscl . -create /Users/ipad
          sudo dscl . -passwd /Users/ipad 1234
          sudo dscl . -append /Groups/admin GroupMembership ipad
          
          # Imposta la password VNC nativa di Apple
          sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -activate -configure -access -on -clientopts -setvncpasswd -vncpasswd 1234
          
      - name: 2. Avvio Tunnel Bore (Sulla porta nativa 5900)
        run: |
          curl -L https://github.com/ekzhang/bore/releases/download/v0.5.1/bore-v0.5.1-x86_64-apple-darwin.tar.gz | tar -xz
          # Avviamo il tunnel sulla porta 5900 del Mac
          ./bore local 5900 --to bore.pub
